.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px;
    min-height: 1000px;
}

.products{
    width: 100%;
}

.container1{
 display: grid;
   align-items: center; 
   justify-content: center;
   margin-right: 100px;
}
.container1 div{
    margin-top: 50px;
    text-align: center;
}